body {
	/* font-family: 'Arial', sans-serif; */
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	font-style: normal;

	background-color: #f4f4f4;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.login-container {
	background-color: #fff;
	padding: 40px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	max-width: 300px;
	width: 100%;
}

input {
	width: 90%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	border-radius: 5px;
}

button {
	width: 95%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	background-color: #5c6bc0;
	color: white;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background-color: #3f51b5;
}

h2 {
	color: #333;
}
